<nav class="navbar justify-content-center sticky-top navbar-expand-lg"> <!-- style="width: 1200px;" -->
  {{ site.navbarpadding_left }}
  <a class="navbar-nav mr-auto" href="{{ '/' | relative_url }}" style="color: #fff;font-size: 16px;"><!-- was nav-brand-->
    <!-- img src="{{ site.phenix_logo | relative_url }}" height="24" 
    Home
    &nbsp;&nbsp; -->
    <img src="{{ site.home_icon | relative_url }}" height="32" width="32"></a>
    &nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for menu in site.data.menus %}  {% if menu.exclude %}{% continue %}{% endif %}
      
      {% if menu.right %}</ul><ul class="navbar-nav text-right">{% endif %}
      {% include layouts/autodrop_data.md what=menu.name %}
      {% if menu.right %}{{ site.navbarpadding_right }}{% endif %}
      {% endfor %}
    </ul>

  </div>
</nav>
