---
layout: newbase
---

<div class="row">
  <div class="col-md-12 blog-main">
<p class="lead"><center><img src="{{ '/images/logos/phenix_logo.gif' | relative_url }}" height="74px" alt="PHENIX logo"></center></p>

{{ site.hr }}

	<div class=row>
	  <div class="col-md-6">
	    <center><img src="{{ '/images/general/phenix_400x400.jpg' | relative_url }}" alt="Photo of the PHENIX experiment" style="width:80%;height:auto"></center>
	  </div>
	  <div class="col-md-6"><p class="lead">
      PHENIX, the Pioneering High Energy Nuclear Interaction eXperiment, is the largest of
      the four experiments that have taken data at the Relativistic Heavy Ion Collider.
      Data-taking was finished in 2016 and the PHENIX Collaboration is now analyzing large data
      samples collected, prioritizing those with a unique physics reach.</p>
    <p/>
    {% if site.url contains 'local' %}
    <b>
      These pages are served from your local machine.
      Please visit {% include navigation/findlink.md name='web-production' tag='the official PHENIX Website' html='yes' %}
      for a stable and approved version of the site.</b>
    {% endif %}
	  </div>
	</div>

  </div>
</div>
{{ site.hr }}
<p/>
  <center>
    This website has been created by the PHENIX Collaboration to support its long-term Data and Analysis Preservation effort.
    Materials are being collected from legacy web resources, systematized and curated.<br/>
    PHENIX members: please examine 
    {% include navigation/pagelink.md folder=site.about name='site' tag='the list of work items' html='1' %}
    and  
    {% include navigation/pagelink.md folder=site.about name='contact' tag='let us know' html='1' %}
    if you can help.
  </center>
&nbsp;<p/>
<p style="text-align:center;">
  <em>Site built at {{ site.time }}</em>
</p>
